<div class="container-fluid">
    <div class="row">
        @if (isSideBarOpen) {
        <div style="min-height: 100vh; width: fit-content;"
            class="col-lg-2 bg-success text-light d-flex flex-column p-3">
            <!-- sidebar -->
            <h5 class="mb-5 text-warning border rounded p-4 shadow"> <i class="fa-solid fa-graduation-cap"></i>
                CookPedia Admin</h5>
            <a routerLink="/admin" class="text-decoration-none text-light fw-bolder ms-5 mb-4"> <i
                    class="fa-solid fa-chart-simple"></i> Dashboard </a>
            <a routerLink="/admin/all-recipes" class="text-decoration-none text-light fw-bolder ms-5 mb-4"> <i
                    class="fa-solid fa-bowl-food"></i> Recipes </a>
            <a routerLink="/admin/all-users" class="text-decoration-none text-light fw-bolder ms-5 mb-4"> <i
                    class="fa-solid fa-users"></i> Users </a>
            <a routerLink="/admin/all-download" class="text-decoration-none text-light fw-bolder ms-5 mb-4"> <i
                    class="fa-solid fa-download"></i> Download </a>
            <a routerLink="/admin/all-request" class="text-decoration-none text-light fw-bolder ms-5 mb-4"> <i
                    class="fa-solid fa-message"></i> Requests </a>
        </div>
        }
        <div class="col">
            <!-- navbar -->
            <div class="d-flex justify-content-between p-3 rounded text-light bg-warning">
                <h1> <button (click)="menuBtnClick()" class="btn"> <i class="fa-solid fa-bars fa-2x text-light"></i>
                    </button> Admin Dashboard </h1>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user text-light"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button (click)="logout()" class="btn fw-bolder"> <i class="fa-solid fa-right-from-bracket"></i> Logout
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- metric -->
            <div class="d-flex justify-content-evenly mt-2">
                <div class="d-flex align-items-center p-3 rounded bg-info text-light">
                    <i class="fa-solid fa-users mx-2 fa-3x"></i>
                    <div>
                        <h3>Users</h3>
                        <h2>{{userCount}}</h2>
                    </div>
                </div>
                <div class="d-flex align-items-center p-3 rounded bg-danger text-light">
                    <i class="fa-solid fa-food mx-2 fa-3x"></i>
                    <div>
                        <h3>Recipes</h3>
                        <h2>{{recipeCount}}</h2>
                    </div>
                </div>
                <div class="d-flex align-items-center p-3 rounded bg-primary text-light">
                    <i class="fa-solid fa-download mx-2 fa-3x"></i>
                    <div>
                        <h3>Downloads</h3>
                        <h2>{{downloadCount}}</h2>
                    </div>
                </div>
                <div class="d-flex align-items-center p-3 rounded bg-secondary text-light">
                    <i class="fa-solid fa-message mx-2 fa-3x"></i>
                    <div>
                        <h3>Notification</h3>
                        <h5>You have <a routerLink="/admin/all-request" class="text-danger"> {{requestCount}} </a>new
                            requests</h5>
                    </div>
                </div>
            </div>
            <!-- chart & calender -->
            <div class="row mt-4">
                <div class="col-lg-8">
                    <!-- chart -->
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
                <div class="col-lg-4">
                    <!-- calender -->
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                    </mat-card>
                </div>
            </div>

        </div>
    </div>
</div>