<div class="container">
    <div style="height: 100vh;" class="row align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <form (ngSubmit)="register()" [formGroup]="registerForm" class="shadow border rounded p-5 mt-5">
                <div class="mb-5 text-center">
                    <h3><i class="fa-solid fa-graduation-cap"></i> CookPedia</h3>
                </div>
                <div class="mb-5">
                    <input type="text" name="username" formControlName="username" placeholder="Username" class="form-control">
                </div>
            
                    @if (registerForm.get("username")?.errors && registerForm.get("username")?.touched) {
                        <div class="mb-3 text-danger">*Invalid Username</div>
                    }
                
                <div class="mb-5">
                    <input type="email" name="email" formControlName="email" placeholder="E mail" class="form-control">
                </div>

                @if (registerForm.get("email")?.errors && registerForm.get("email")?.touched) {
                    <div class="mb-3 text-danger">*Invalid email</div>
                }
            
                <div class="mb-5">
                    <input type="password" name="password" formControlName="password" placeholder="Password" class="form-control">
                </div>
                @if (registerForm.get("password")?.errors && registerForm.get("password")?.touched) {
                    <div class="mb-3 text-danger">*Invalid password</div>
                }
            
                <div class="d-grid mt-2">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <h2>Create New Account</h2>
            <h5>What you will get?</h5>
            <ul>
               <div class="mt-5">
                    <li>Different Recipes</li>
                    <li>Easy way t0 make Recipes</li>
                    <li>Save Your Favourite Recipes</li>
                    <li>Download Recipes</li>
               </div>
            </ul>
        </div>
    </div>
</div>
